Repository Agenta-AI/agenta, pull requests merged in 2023-09, with the labels that each got.

#574 Improved error messaging in both start_variant and in the client
  agenta-cli/agenta/cli/variant_commands.py
  agenta-cli/agenta/client/client.py
Labels: dev experience

#623 Enhancement - add prefilled testsets for apps created with template in demo version
  agenta-backend/agenta_backend/resources/default_testsets/single_prompt_testsets.json
  agenta-backend/agenta_backend/routers/app_variant.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-backend/agenta_backend/services/json_importer_helper.py
Labels: enhancement, Backend

#667 sync Tests with new refactoring
  agenta-backend/agenta_backend/tests/conftest.py
  agenta-backend/agenta_backend/tests/test_app_variant_router.py
Labels: tests
