Repository Agenta-AI/agenta, pull requests merged in 2024-09, with the labels that each got.

#2050 bump version
  agenta-backend/pyproject.toml
  agenta-web/package-lock.json
  agenta-web/package.json
Labels: Backend, size:XS

#2047 Feat: implemented human evaluations
  agenta-web/cypress/e2e/ab-testing-evaluation.cy.ts
  agenta-web/cypress/e2e/app-navigation.cy.ts
  agenta-web/cypress/e2e/single-model-test-evaluation.cy.ts
  agenta-web/src/components/Evaluations/AutomaticEvaluationResult.tsx
  agenta-web/src/components/Evaluations/HumanEvaluationResult.tsx
  agenta-web/src/components/HumanEvaluationModal/HumanEvaluationModal.tsx
  agenta-web/src/components/HumanEvaluations/AbTestingEvaluation.tsx
  agenta-web/src/components/HumanEvaluations/SingleModelEvaluation.tsx
  agenta-web/src/components/pages/evaluations/singleModelEvaluation/SingleModelEvaluation.tsx
  agenta-web/src/components/pages/overview/abTestingEvaluation/AbTestingEvalOverview.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/lib/helpers/evaluate.ts
  agenta-web/src/pages/apps/[app_id]/annotations/human_a_b_testing.tsx
  agenta-web/src/pages/apps/[app_id]/annotations/single_model_test.tsx
  agenta-web/src/pages/apps/[app_id]/evaluations/index.tsx
  agenta-web/src/pages/apps/[app_id]/overview/index.tsx
Labels: Frontend, size:XXL, lgtm

#2057 v0.24.4
  agenta-backend/pyproject.toml
  agenta-web/package-lock.json
  agenta-web/package.json
Labels: size:XS

#2059 Doc: fixed broken link style
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Labels: documentation, css, size:M, lgtm

#2064 docs(app): switched to new auto crawled index in Algolia
  docs/docusaurus.config.ts
Labels: documentation, size:XS

#1951 Fix: evaluation related build warnings
  agenta-web/src/components/pages/evaluations/cellRenderers/cellRenderers.tsx
  agenta-web/src/components/pages/evaluations/evaluationCompare/EvaluationCompare.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/components/pages/evaluations/evaluationScenarios/EvaluationScenarios.tsx
  agenta-web/src/pages/apps/[app_id]/annotations/single_model_test/[evaluation_id]/index.tsx
Labels: bug, Frontend, evaluation, size:S, lgtm

#2027 Fix: small UI issues in overview page
  agenta-web/src/components/Sidebar/Sidebar.tsx
  agenta-web/src/components/pages/overview/abTestingEvaluation/AbTestingEvalOverview.tsx
  agenta-web/src/components/pages/overview/automaticEvaluation/AutomaticEvalOverview.tsx
  agenta-web/src/components/pages/overview/deployments/DeploymentOverview.tsx
  agenta-web/src/components/pages/overview/singleModelEvaluation/SingleModelEvalOverview.tsx
  agenta-web/src/components/pages/overview/variants/VariantPopover.tsx
Labels: bug, UI, size:M, lgtm

#2067 Dependabot prs sept
  agenta-cli/poetry.lock
Labels: dependencies, size:XS

#1985 Test: automatic evaluation with different correct_answer column
  agenta-web/cypress/e2e/eval.evaluations.cy.ts
  agenta-web/cypress/support/commands/evaluations.ts
  agenta-web/cypress/support/commands/index.ts
  agenta-web/src/components/TestSetTable/TableHeaderComponent.tsx
  agenta-web/src/components/pages/evaluations/evaluators/AdvancedSettings.tsx
Labels: tests, cypress, size:M, lgtm

#2058 Feat: automatic evaluation functionalities
  agenta-web/cypress/e2e/eval.comparison.cy.ts
  agenta-web/cypress/e2e/eval.evaluations.cy.ts
  agenta-web/cypress/e2e/eval.evaluators.cy.ts
  agenta-web/cypress/e2e/eval.scenarios.cy.ts
  agenta-web/cypress/support/commands/evaluations.ts
  agenta-web/src/components/HumanEvaluations/AbTestingEvaluation.tsx
  agenta-web/src/components/HumanEvaluations/SingleModelEvaluation.tsx
  agenta-web/src/components/pages/evaluations/EvaluationErrorProps/EvaluationErrorPopover.tsx
  agenta-web/src/components/pages/evaluations/NewEvaluation/NewEvaluationModal.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/AutoEvaluation.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/EvaluatorsModal/ConfigureEvaluator/index.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/EvaluatorsModal/Evaluators/EvaluatorList.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/EvaluatorsModal/Evaluators/index.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/EvaluatorsModal/NewEvaluator/NewEvaluatorList.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/Filters/EditColumns.tsx
  agenta-web/src/components/pages/evaluations/autoEvaluation/Filters/SearchFilter.tsx
  agenta-web/src/components/pages/evaluations/cellRenderers/StatusRenderer.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EmptyEvaluations.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/components/pages/overview/automaticEvaluation/AutomaticEvalOverview.tsx
  agenta-web/src/pages/apps/[app_id]/evaluations/index.tsx
Labels: enhancement, UI, CLI, evaluation, size:XXL, lgtm

#2061 Evaluation docs Overhaul
  docs/docs/evaluation/01-overview.mdx
  docs/docs/evaluation/02-create-test-sets.mdx
  docs/docs/evaluation/03-configure-evaluators.mdx
  docs/docs/evaluation/04-no-code-evaluation.mdx
  docs/docs/evaluation/05-sdk-evaluation.mdx
  docs/docs/evaluation/06-human_evaluation.mdx
  docs/docs/evaluation/automatic_evaluation.mdx
  docs/docs/evaluation/custom_evaluator.mdx
  docs/docs/evaluation/evaluators/01-classification-entiry-extraction.mdx
  docs/docs/evaluation/evaluators/02-pattern-matching.mdx
  docs/docs/evaluation/evaluators/03-semantic-similarity.mdx
  docs/docs/evaluation/evaluators/04-llm-as-a-judge.mdx
  docs/docs/evaluation/evaluators/05-rag-evaluators.mdx
  docs/docs/evaluation/evaluators/06-custom-evaluator.mdx
  docs/docs/evaluation/evaluators/07-webhook-evaluator.mdx
  docs/docs/evaluation/evaluators/_category_.json
  docs/docs/evaluation/test_sets.mdx
  docs/docs/evaluation/webhook_evaluator.mdx
  docs/src/css/custom.css
  docs/static/images/basic_guides/14_playground_drawer_dark.png
  docs/static/images/basic_guides/14_playground_drawer_light.png
  docs/static/images/evaluation/comparing-evaluations.gif
  docs/static/images/evaluation/configure-evaluators-1.png
  docs/static/images/evaluation/configure-evaluators-2.png
  docs/static/images/evaluation/configure-evaluators-3.png
  docs/static/images/evaluation/configure_mapping.png
  docs/static/images/evaluation/detailed-evaluation-results.png
  docs/static/images/evaluation/evaluation-sdk-fig.png
  docs/static/images/evaluation/evaluator_config_mapping.png
  docs/static/images/evaluation/evaluators.png
  docs/static/images/evaluation/llm-as-a-judge.png
  docs/static/images/evaluation/new-evaluation-modal.png
  docs/static/images/evaluation/start-new-evaluation.png
  docs/static/images/test-sets/add_test_set_playground.png
  docs/static/images/test-sets/add_test_set_ui.png
  docs/static/images/test-sets/upload_test_set.png
Labels: documentation, evaluation, size:XXL, lgtm

#2037 [feature] Project - Checkpoint 1
  agenta-backend/agenta_backend/migrations/postgres/README.md
  agenta-backend/agenta_backend/migrations/postgres/data_migrations/projects.py
  agenta-backend/agenta_backend/migrations/postgres/env.py
  agenta-backend/agenta_backend/migrations/postgres/versions/362gbs21a2ee_add_default_project.py
  agenta-backend/agenta_backend/migrations/postgres/versions/c5ae28e37102_created_projects_table.py
  agenta-backend/agenta_backend/models/db/models.py
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/poetry.lock
Labels: Backend, feature, refactoring, dependencies, size:L, lgtm

#2054 [Refactor]: Manually Name Database Table Constraints to Resolve sqlalchemy.exc.CompileError
  agenta-backend/agenta_backend/migrations/postgres/versions/5c29a64204f4_added_modified_by_id_column_to_apps_db.py
  agenta-backend/agenta_backend/migrations/postgres/versions/b80c708c21bb_initial_migration.py
Labels: bug, Backend, refactoring, size:L, lgtm

#2065 [feature] Projects - Checkpoint 2
  agenta-backend/agenta_backend/migrations/postgres/data_migrations/applications.py
  agenta-backend/agenta_backend/migrations/postgres/data_migrations/projects.py
  agenta-backend/agenta_backend/migrations/postgres/utils.py
  agenta-backend/agenta_backend/migrations/postgres/versions/22d29365f5fc_update_evaluators_names_with_app_name_.py
  agenta-backend/agenta_backend/migrations/postgres/versions/55bdd2e9a465_add_default_project_to_scoped_model_.py
  agenta-backend/agenta_backend/migrations/postgres/versions/6cfe239894fb_set_user_id_column_in_db_entities_to_be_.py
  agenta-backend/agenta_backend/migrations/postgres/versions/c00a326c625a_scope_project_id_to_db_models_entities.py
  agenta-backend/agenta_backend/models/api/api_models.py
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/agenta_backend/models/deprecated_models.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-backend/agenta_backend/routers/bases_router.py
  agenta-backend/agenta_backend/routers/configs_router.py
  agenta-backend/agenta_backend/routers/container_router.py
  agenta-backend/agenta_backend/routers/environment_router.py
  agenta-backend/agenta_backend/routers/evaluation_router.py
  agenta-backend/agenta_backend/routers/evaluators_router.py
  agenta-backend/agenta_backend/routers/human_evaluation_router.py
  agenta-backend/agenta_backend/routers/testset_router.py
  agenta-backend/agenta_backend/routers/variants_router.py
  agenta-backend/agenta_backend/services/app_manager.py
  agenta-backend/agenta_backend/services/auth_helper.py
  agenta-backend/agenta_backend/services/container_manager.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-backend/agenta_backend/services/deployment_manager.py
  agenta-backend/agenta_backend/services/evaluation_service.py
  agenta-backend/agenta_backend/services/evaluator_manager.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/variants_main_router/conftest.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_app_variant_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_evaluators_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_testset_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_versioning_deployment.py
  agenta-backend/agenta_backend/utils/project_utils.py
  agenta-cli/agenta/client/backend/types/app_variant_response.py
  agenta-web/cypress/e2e/eval.scenarios.cy.ts
  agenta-web/src/components/Evaluations/HumanEvaluationResult.tsx
  agenta-web/src/components/HumanEvaluations/AbTestingEvaluation.tsx
Labels: Backend, feature, size:XXL, lgtm

#2090 [feature] Projects Structure - Checkpoint 2
  agenta-backend/agenta_backend/migrations/postgres/README.md
  agenta-backend/agenta_backend/migrations/postgres/data_migrations/applications.py
  agenta-backend/agenta_backend/migrations/postgres/data_migrations/projects.py
  agenta-backend/agenta_backend/migrations/postgres/env.py
  agenta-backend/agenta_backend/migrations/postgres/utils.py
  agenta-backend/agenta_backend/migrations/postgres/versions/22d29365f5fc_update_evaluators_names_with_app_name_.py
  agenta-backend/agenta_backend/migrations/postgres/versions/362gbs21a2ee_add_default_project.py
  agenta-backend/agenta_backend/migrations/postgres/versions/55bdd2e9a465_add_default_project_to_scoped_model_.py
  agenta-backend/agenta_backend/migrations/postgres/versions/6cfe239894fb_set_user_id_column_in_db_entities_to_be_.py
  agenta-backend/agenta_backend/migrations/postgres/versions/c00a326c625a_scope_project_id_to_db_models_entities.py
  agenta-backend/agenta_backend/migrations/postgres/versions/c5ae28e37102_created_projects_table.py
  agenta-backend/agenta_backend/models/api/api_models.py
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/models/db/models.py
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/agenta_backend/models/deprecated_models.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-backend/agenta_backend/routers/bases_router.py
  agenta-backend/agenta_backend/routers/configs_router.py
  agenta-backend/agenta_backend/routers/container_router.py
  agenta-backend/agenta_backend/routers/environment_router.py
  agenta-backend/agenta_backend/routers/evaluation_router.py
  agenta-backend/agenta_backend/routers/evaluators_router.py
  agenta-backend/agenta_backend/routers/human_evaluation_router.py
  agenta-backend/agenta_backend/routers/testset_router.py
  agenta-backend/agenta_backend/routers/variants_router.py
  agenta-backend/agenta_backend/services/app_manager.py
  agenta-backend/agenta_backend/services/auth_helper.py
  agenta-backend/agenta_backend/services/container_manager.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-backend/agenta_backend/services/deployment_manager.py
  agenta-backend/agenta_backend/services/evaluation_service.py
  agenta-backend/agenta_backend/services/evaluator_manager.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/variants_main_router/conftest.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_app_variant_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_evaluators_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_testset_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_versioning_deployment.py
  agenta-backend/agenta_backend/utils/project_utils.py
  agenta-backend/poetry.lock
  agenta-cli/agenta/client/backend/types/app_variant_response.py
  agenta-web/cypress/e2e/eval.scenarios.cy.ts
  agenta-web/src/components/Evaluations/HumanEvaluationResult.tsx
  agenta-web/src/components/HumanEvaluations/AbTestingEvaluation.tsx
Labels: enhancement, Backend, size:XXL, lgtm

#2093 fix(frontend): Disable Dark Mode Feature
  agenta-web/src/components/Layout/ThemeContextProvider.tsx
Labels: bug, Frontend, size:XS, lgtm
