Repository Agenta-AI/agenta, pull requests merged in 2024-07, with the labels that each got.

#1829 docs(tool): Fix docs links from github and inside the docs
  README.md
Labels: documentation, size:M, lgtm

#1830 minor refactor (backend): remove redundant UserWorkspaceDB model from…
  agenta-backend/agenta_backend/models/db_engine.py
Labels: Backend, refactoring, size:XS

#1826 Mmabrouk/fix/AGE-341-fix-nonetype-has-no-attribute-cost-in-playground
  agenta-cli/agenta/sdk/tracing/callbacks.py
Labels: bug, CLI, SDK, size:S, lgtm

#1836 code refactor (backend): replace query api .one_or_none() to .first()
  agenta-backend/agenta_backend/services/db_manager.py
Labels: Backend, refactoring, size:L

#1831 Docs/postgres migration documentation
  docs/self-host/migration/migration-to-mongodb.mdx
  docs/self-host/migration/migration-to-postgres.mdx
Labels: documentation, size:M, lgtm

#1838 [Enhancement]: Resolve Failing Backend Tests
  agenta-backend/agenta_backend/models/db_engine.py
  agenta-backend/agenta_backend/tests/conftest.py
Labels: bug, Backend, size:S, lgtm

#1811 [cloud related] migration/beanie to sqlalchemy
  agenta-backend/agenta_backend/models/api/api_models.py
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/models/db_engine.py
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-backend/agenta_backend/routers/configs_router.py
  agenta-backend/agenta_backend/routers/evaluation_router.py
  agenta-backend/agenta_backend/routers/evaluators_router.py
  agenta-backend/agenta_backend/routers/human_evaluation_router.py
  agenta-backend/agenta_backend/routers/testset_router.py
  agenta-backend/agenta_backend/routers/variants_router.py
  agenta-backend/agenta_backend/services/app_manager.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-backend/agenta_backend/services/deployment_manager.py
  agenta-backend/agenta_backend/services/evaluator_manager.py
  agenta-backend/agenta_backend/services/user_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
Labels: Backend, size:XL, lgtm, db

#1839 Postgres
  README.md
  agenta-backend/agenta_backend/services/results_service.py
  agenta-backend/pyproject.toml
  agenta-cli/agenta/sdk/tracing/callbacks.py
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
  agenta-web/package-lock.json
  agenta-web/package.json
  agenta-web/src/components/EvaluationTable/ABTestingEvaluationTable.tsx
  agenta-web/src/components/EvaluationTable/SingleModelEvaluationTable.tsx
  agenta-web/src/components/Playground/NewVariantModal.tsx
  agenta-web/src/components/Playground/ParamsForm/ParamsForm.tsx
  agenta-web/src/components/TestSetTable/TestsetTable.tsx
  agenta-web/src/components/pages/evaluations/evaluationCompare/EvaluationCompare.tsx
  agenta-web/src/pages/apps/[app_id]/testsets/[testset_id]/index.tsx
  agenta-web/src/pages/apps/[app_id]/testsets/new/api/index.tsx
  agenta-web/src/services/evaluations/api/index.ts
  cookbook/evaluations_with_sdk.ipynb
  docs/guides/evaluation_from_sdk.mdx
  docs/mint.json
Labels: size:XL

#1708 Improve error handling in evaluation
  agenta-web/src/components/pages/evaluations/EvaluationErrorProps/EvaluationErrorModal.tsx
  agenta-web/src/components/pages/evaluations/EvaluationErrorProps/EvaluationErrorText.tsx
  agenta-web/src/components/pages/evaluations/cellRenderers/cellRenderers.tsx
  agenta-web/src/components/pages/evaluations/evaluationCompare/EvaluationCompare.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/components/pages/evaluations/evaluationScenarios/EvaluationScenarios.tsx
Labels: Frontend, UI, size:L, lgtm

#1845 Bug fix/variant deletion unpublish other variants environment
  agenta-backend/agenta_backend/services/db_manager.py
Labels: bug, Backend, size:M, lgtm

#1844 Fix issue where Evaluation Results don't load when individual Evaluation Scenarios fail
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/routers/evaluation_router.py
Labels: bug, Backend, evaluation, lgtm

#1842 Fix incomplete stacktraces in evaluations
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-web/src/components/pages/evaluations/cellRenderers/cellRenderers.tsx
Labels: bug, Backend, UI, evaluation, size:M, lgtm

#1841 Fix evaluation status which never was set to Queued.
  agenta-backend/agenta_backend/celery_config.py
  agenta-backend/agenta_backend/services/evaluation_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_evaluators_router.py
Labels: bug, Backend, size:M, lgtm

#1840 Fix two likely causes of infinitely running evaluations
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/services/aggregation_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-web/src/components/pages/evaluations/cellRenderers/cellRenderers.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/lib/Types.ts
Labels: bug, Frontend, Backend, size:L, lgtm

#1846 fix(sdk): AGE-272 Propagate func errors up in @ag.instrument() wrappers
  agenta-cli/agenta/sdk/decorators/llm_entrypoint.py
  agenta-cli/agenta/sdk/decorators/tracing.py
Labels: bug, CLI, SDK, size:M

#1851 Refactor/add function to fetch corresponding object UUID
  agenta-backend/agenta_backend/services/db_manager.py
Labels: Backend, python, size:S, lgtm

#1852 Enhancement: update user lookup logic for backward compatibility in api key migration
  agenta-backend/agenta_backend/services/db_manager.py
Labels: enhancement, Backend, size:S, lgtm

#1853 Bug/deleting docker image result in an integrity error for variant
  agenta-backend/agenta_backend/models/db_models.py
Labels: bug, Backend, size:XS, lgtm

#1854 Resolve merge conflict between postgres and main
  .all-contributorsrc
  README.md
  agenta-backend/agenta_backend/celery_config.py
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/services/aggregation_service.py
  agenta-backend/agenta_backend/services/evaluation_service.py
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_evaluators_router.py
  agenta-backend/pyproject.toml
  agenta-cli/agenta/sdk/decorators/llm_entrypoint.py
  agenta-cli/agenta/sdk/decorators/tracing.py
  agenta-cli/pyproject.toml
  agenta-web/package-lock.json
  agenta-web/package.json
  agenta-web/src/components/pages/evaluations/EvaluationErrorProps/EvaluationErrorModal.tsx
  agenta-web/src/components/pages/evaluations/EvaluationErrorProps/EvaluationErrorText.tsx
  agenta-web/src/components/pages/evaluations/cellRenderers/cellRenderers.tsx
  agenta-web/src/components/pages/evaluations/evaluationCompare/EvaluationCompare.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/components/pages/evaluations/evaluationScenarios/EvaluationScenarios.tsx
  agenta-web/src/lib/Types.ts
Labels: Frontend, Backend, CLI, size:XL, lgtm

#1858 [Bug Fix]: CLI config (app_id) mismatch with backend UUID handling
  agenta-backend/agenta_backend/services/db_manager.py
Labels: bug, Backend, CLI, size:M, lgtm

#1861 AGE-386 Updated documenation and Readme for migration
  README.md
  docs/mint.json
  docs/self-host/migration/migration-to-mongodb.mdx
  docs/self-host/migration/migration-to-postgres.mdx
Labels: documentation, size:L

#1860 [Feature]: Added postgres to gh compose for production use
  docker-compose.gh.yml
  docker-compose.yml
Labels: enhancement, size:M, lgtm

#1862 fix(backend): Fixes use of feature flag for local cloud dev with templates
  agenta-backend/agenta_backend/routers/app_router.py
Labels: bug, Backend, size:XS, lgtm

#1779 Enhance: improved the settings LLM keys buttons and container spacing
  agenta-web/src/components/pages/settings/Secrets/Secrets.tsx
Labels: Frontend, UI, size:L, lgtm

#1864 refactor(backend): remove code for deleting db and tables
  agenta-backend/agenta_backend/migrations/mongo_to_postgres/db_engine.py
  agenta-backend/agenta_backend/migrations/mongo_to_postgres/migration.py
  agenta-backend/agenta_backend/migrations/mongo_to_postgres/utils.py
Labels: Backend, refactoring, size:S, lgtm

#1872 [Bug fix]: Human evaluation UI breaks when a variant has been deleted
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/routers/container_router.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-web/src/components/Playground/Views/ParametersView.tsx
Labels: bug, Backend, UI, size:L, lgtm

#1875 [Hot fix]: ignore permission to check human evaluation access in the case object_db is None
  agenta-backend/agenta_backend/routers/container_router.py
Labels: bug, Backend, size:XS

#1877 Dependabot prs
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: CLI, dependencies, size:XS

#1878 [Bug] TypeError: e.localeCompare is not a function
  agenta-web/src/lib/helpers/evaluate.ts
Labels: bug, Frontend, size:S, lgtm

#1885 fix(frontend): Test creation in single model eval does not work in table view
  agenta-web/src/components/EvaluationTable/SingleModelEvaluationTable.tsx
  agenta-web/src/components/Evaluations/EvaluationCardView/index.tsx
Labels: bug, Frontend, size:XS, lgtm

#1899 Dependabot prs 16 07
  agenta-cli/poetry.lock
Labels: size:XS

#1884 [Enhancement]: Alembic migration strategy
  .github/workflows/run-backend-tests.yml
  .github/workflows/run-frontend-tests.yml
  agenta-backend/Dockerfile
  agenta-backend/agenta_backend/main.py
  agenta-backend/agenta_backend/models/db_engine.py
  agenta-backend/agenta_backend/models/db_engine/config.py
  agenta-backend/agenta_backend/models/db_engine/engines.py
  agenta-backend/agenta_backend/models/db_engine/models.py
  agenta-backend/agenta_backend/models/db_engine/shared.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-backend/agenta_backend/services/evaluation_service.py
  agenta-backend/agenta_backend/services/user_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/conftest.py
  agenta-backend/agenta_backend/tests/engine.py
  agenta-backend/agenta_backend/tests/variants_main_router/conftest.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_app_variant_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_evaluators_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_testset_router.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_versioning_deployment.py
  agenta-backend/agenta_backend/tests/variants_user_profile_router/test_user_profile.py
  agenta-backend/migrations/env.py
  agenta-backend/migrations/utils.py
  agenta-backend/migrations/versions/b80c708c21bb_initial_migration.py
  agenta-backend/migrations/versions/b80c708c21bb_initial_migrations.py
  agenta-backend/start_backend.sh
  docker-compose.gh.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/self-host/migration/applying-schema-migration.mdx
Labels: enhancement, Backend, size:XXL, lgtm

#1895 Feat: save variant tabs position
  agenta-web/src/components/AppSelector/AppCard.tsx
  agenta-web/src/components/Playground/Playground.tsx
Labels: enhancement, Frontend, size:S, lgtm

#1900 Fix/webhooks errors and docs
  agenta-backend/agenta_backend/resources/evaluators/evaluators.py
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-web/src/components/pages/evaluations/evaluators/NewEvaluatorModal.tsx
  docs/evaluation/webhook_evaluator.mdx
  docs/images/basic_guides/webhook_config_dark.png
  docs/images/basic_guides/webhook_config_light.png
  docs/mint.json
Labels: bug, documentation, Backend, size:M, lgtm

#1706 [Enhancement]: Logs are not fetched in cloud
  agenta-web/src/components/Playground/ViewNavigation.tsx
  agenta-web/src/lib/hooks/useVariant.ts
  agenta-web/src/services/api.ts
  agenta-web/src/services/app-selector/api/index.ts
Labels: enhancement, Frontend, size:L, lgtm

#1903 Fix: outdated sentry version
  agenta-web/package-lock.json
  agenta-web/package.json
Labels: bug, dependencies, size:XS, lgtm

#1892 Refactor: TestsetTable component code has been refactored
  agenta-web/src/components/TestSetTable/TableCellsRenderer.tsx
  agenta-web/src/components/TestSetTable/TableHeaderComponent.tsx
  agenta-web/src/components/TestSetTable/TestsetTable.tsx
Labels: Frontend, refactoring, size:XL, lgtm

#1904 Fix: resolved the title warning issue
  agenta-web/src/pages/_app.tsx
  agenta-web/src/pages/_document.tsx
Labels: bug, nextjs, size:M, lgtm

#1912 feat(app): startweb standalone on any docker
  start_web_standalone.sh
Labels: enhancement, size:M, lgtm

#1910 [Feature]: Implement JSON Diff Evaluator
  agenta-backend/agenta_backend/pytest.ini
  agenta-backend/agenta_backend/resources/evaluators/evaluators.py
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/unit/test_evaluators.py
  agenta-web/src/lib/enums.ts
  agenta-web/src/lib/helpers/utils.ts
  agenta-web/src/services/evaluations/api/index.ts
Labels: Frontend, Backend, feature, size:L, lgtm

#1917 [Bug Fix]: evaluation fails when using gh docker container
  agenta-backend/agenta_backend/services/deployment_manager.py
  agenta-backend/agenta_backend/services/docker_utils.py
  docker-compose.gh.yml
Labels: bug, Backend, size:S, lgtm

#1918 [Bug Fix]: age-374
  agenta-backend/agenta_backend/routers/app_router.py
Labels: bug, Backend, size:XS, lgtm

#1922 Dependabot prs 23 07
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: size:XS

#1896 Fixes several issues with the SDK related to observability
  agenta-cli/agenta/__init__.py
  agenta-cli/agenta/sdk/agenta_init.py
  agenta-cli/agenta/sdk/decorators/llm_entrypoint.py
  agenta-cli/agenta/sdk/decorators/tracing.py
  agenta-cli/agenta/sdk/tracing/llm_tracing.py
  agenta-cli/agenta/sdk/tracing/tracing_context.py
  agenta-cli/agenta/sdk/utils/debug.py
  agenta-cli/pyproject.toml
Labels: bug, enhancement, CLI, SDK, size:XL, lgtm

#1908 Fix: <img> warnings during build process
  agenta-web/next.config.js
  agenta-web/src/components/AppSelector/TipsAndFeatures.tsx
  agenta-web/src/components/AppSelector/Welcome.tsx
  agenta-web/src/components/Evaluations/EvaluationCardView/EvaluationCard.tsx
  agenta-web/src/components/Evaluations/EvaluationCardView/EvaluationVariantCard.tsx
  agenta-web/src/components/Layout/Layout.tsx
Labels: bug, nextjs, size:M, lgtm

#1921 [Feature]: Implement Semantic Similariity Match Evaluator
  agenta-backend/agenta_backend/resources/evaluators/evaluators.py
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/unit/test_evaluators.py
  agenta-backend/poetry.lock
  agenta-backend/pyproject.toml
  agenta-web/src/lib/enums.ts
  agenta-web/src/lib/helpers/utils.ts
  agenta-web/src/services/evaluations/api/index.ts
Labels: Frontend, Backend, feature, tests, size:L, lgtm

#1905 [Bug Fix]: resolve get_config exception: badly formed hexadecimal UUID string
  agenta-backend/agenta_backend/routers/configs_router.py
  agenta-backend/agenta_backend/services/db_manager.py
Labels: bug, Backend, size:S, lgtm

#1648 [Cleanup]: remove useless env
  agenta-backend/agenta_backend/services/app_manager.py
  agenta-backend/agenta_backend/utils/common.py
Labels: Backend, refactoring, size:XS

#1924 [Feature]: Implemented Rag Faithfulness and Context Relevancy Evaluators
  agenta-backend/agenta_backend/resources/evaluators/evaluators.py
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/unit/test_evaluators.py
  agenta-backend/poetry.lock
  agenta-backend/pyproject.toml
  agenta-web/src/lib/enums.ts
  agenta-web/src/lib/helpers/utils.ts
  agenta-web/src/services/evaluations/api/index.ts
Labels: Frontend, Backend, feature, tests, size:L, lgtm

#1929 feat(sdk): Adding inline trace information
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/services/llm_apps_service.py
  agenta-backend/agenta_backend/tests/unit/test_evaluators.py
  agenta-cli/agenta/__init__.py
  agenta-cli/agenta/client/backend/resources/testsets/client.py
  agenta-cli/agenta/sdk/__init__.py
  agenta-cli/agenta/sdk/decorators/llm_entrypoint.py
  agenta-cli/agenta/sdk/decorators/tracing.py
  agenta-cli/agenta/sdk/tracing/llm_tracing.py
  agenta-cli/agenta/sdk/tracing/tasks_manager.py
  agenta-cli/agenta/sdk/tracing/tracing_context.py
  agenta-cli/agenta/sdk/types.py
  agenta-cli/pyproject.toml
  docs/evaluation/webhook_evaluator.mdx
Labels: enhancement, SDK, size:XL, lgtm

#1930 [PoC-1] Display optional inline intermediate outputs in Playground
  agenta-web/src/components/EvaluationTable/ABTestingEvaluationTable.tsx
  agenta-web/src/components/EvaluationTable/SingleModelEvaluationTable.tsx
  agenta-web/src/components/Playground/ViewNavigation.tsx
  agenta-web/src/components/Playground/Views/TestView.tsx
  agenta-web/src/components/pages/evaluations/evaluationScenarios/EvaluationScenarios.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/lib/helpers/playgroundResp.ts
  agenta-web/src/services/api.ts
  agenta-web/src/services/baseResponseMock.json
Labels: Frontend, UI, size:L, lgtm

#1928 Fix: Ensure CLI catches and reports errors
  agenta-cli/agenta/cli/variant_commands.py
Labels: bug, CLI, size:S, lgtm

#1933 merge main into fix-image-deletion-in-cloud
  agenta-cli/agenta/cli/variant_commands.py
Labels: size:S

#1934 refactor(sdk): Move trace processing from SDK to BE
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/services/llm_apps_service.py
  agenta-backend/agenta_backend/tests/unit/test_evaluators.py
  agenta-cli/agenta/client/backend/types/create_span.py
  agenta-cli/agenta/sdk/decorators/llm_entrypoint.py
  agenta-cli/agenta/sdk/decorators/tracing.py
  agenta-cli/agenta/sdk/tracing/llm_tracing.py
  agenta-cli/agenta/sdk/tracing/tracing_context.py
  agenta-cli/agenta/sdk/utils/encoder.py
  docs/reference/backend_api/openapi.json
Labels: Backend, SDK, refactoring, size:L, lgtm

#1937 [FE][PoC-1]:Display optional inline intermediate outputs in Playground
  agenta-web/src/components/Playground/ParamsForm/ParamsForm.tsx
  agenta-web/src/components/Playground/PlaygroundDrawer/PlaygroundDrawer.tsx
  agenta-web/src/components/Playground/PlaygroundDrawer/cellRenderers.tsx
  agenta-web/src/components/Playground/PlaygroundDrawer/tabItems.tsx
  agenta-web/src/components/Playground/Views/TestView.tsx
  agenta-web/src/components/pages/evaluations/evaluationScenarios/EvaluationScenarios.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/lib/helpers/utils.ts
  agenta-web/src/lib/helpers/variantHelper.ts
  agenta-web/src/lib/transformers.ts
  agenta-web/src/services/api.ts
  agenta-web/src/services/baseResponseMock.json
Labels: size:XXL, lgtm

#1945 fix(sdk): AGE-480 Update litellm callbacks with new SDK
  agenta-cli/agenta/sdk/tracing/callbacks.py
  agenta-cli/agenta/sdk/tracing/llm_tracing.py
  agenta-cli/pyproject.toml
Labels: bug, SDK, size:M, lgtm

#1947 [PoC-1][Frontend]: UI fixes
  agenta-web/src/components/Playground/ParamsForm/ParamsForm.tsx
  agenta-web/src/components/Playground/PlaygroundDrawer/PlaygroundDrawer.tsx
  agenta-web/src/components/Playground/PlaygroundDrawer/tabItems.tsx
Labels: Frontend, UI, size:L

#1943 Minor UI improvement at human eval
  agenta-web/src/components/EvaluationTable/ABTestingEvaluationTable.tsx
  agenta-web/src/components/EvaluationTable/SingleModelEvaluationTable.tsx
Labels: UI, size:XS, lgtm

#1939 [Enhancement]: Add cloud support for alembic
  agenta-backend/agenta_backend/main.py
  agenta-backend/agenta_backend/migrations/postgres/utils.py
  docker-compose.gh.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: enhancement, Backend, size:M, lgtm
