Repository Agenta-AI/agenta, pull requests merged in 2024-04, with the labels that each got.

#1473 Hotfix when API key is wrong in CLI
  agenta-cli/agenta/cli/main.py
Labels: bug

#1504 Create publish-to-test-pypi.yaml
  .github/workflows/publish-to-test-pypi.yaml
Labels: python, devops, ci/cd, size:M

#1508 Publish a pre release to pypi
  .github/workflows/publish-prerelease-to-pypi.yaml
Labels: python, ci/cd, size:S

#1513 Update how_does_agenta_work.mdx
  docs/developer_guides/how_does_agenta_work.mdx
Labels: documentation, size:XS, lgtm

#1519 [Bug Fix]: Playground sidebar parameters have wrong min and max values
  agenta-web/src/lib/helpers/openapi_parser.ts
Labels: bug, javascript, size:XS, lgtm

#1512 Hide latency and cost columns on filter
  agenta-web/src/components/pages/evaluations/evaluationCompare/EvaluationCompare.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
Labels: enhancement, Frontend, reactjs, typescript, size:L, lgtm

#1520 strip api key in cli when added with a new line
  agenta-cli/agenta/cli/helper.py
Labels: bug, CLI, python, size:XS

#1524 Feature/use swc
  agenta-web/next.config.js
  agenta-web/package-lock.json
  agenta-web/package.json
Labels: enhancement, typescript, nextjs, size:XS

#1525 Fix issue with gh docker compose
  docker-compose.gh.yml
Labels: bug, devops, size:XS

#1517 mooore models
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-web/next.config.js
  agenta-web/package-lock.json
  agenta-web/package.json
  agenta-web/src/components/Playground/Views/GroupedSelect.tsx
  agenta-web/src/components/Playground/Views/ParametersCards.tsx
  agenta-web/src/lib/helpers/llmProviders.ts
Labels: enhancement, Frontend, Backend, python, javascript, size:L

#1532 remove unsupported models
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-web/src/lib/helpers/llmProviders.ts
Labels: Frontend, Backend, evaluation, size:S

#1535 remove all config files and rely on env vars
  agenta-backend/agenta_backend/config.py
  agenta-backend/agenta_backend/config.toml
  agenta-backend/agenta_backend/main.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-backend/agenta_backend/services/deployment_manager.py
  agenta-backend/agenta_backend/services/docker_utils.py
  agenta-backend/agenta_backend/services/templates_manager.py
  docker-compose.gh.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: Backend, refactoring, devops, size:M

#1541 Adding new provider Groq
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-web/src/components/Playground/Views/GroupedSelect.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/lib/helpers/llmProviders.ts
Labels: enhancement, size:S

#1542 [Bug Fix]: gitignore are overwritten when runnning agenta init
  agenta-backend/agenta_backend/services/deployment_manager.py
  agenta-backend/agenta_backend/services/docker_utils.py
  agenta-cli/agenta/cli/main.py
  agenta-cli/agenta/docker/docker_utils.py
Labels: bug, Backend, CLI, size:M, lgtm

#1544 [Bug Fix]: Fixed latency format in evaluation view
  agenta-web/src/components/Playground/Views/TestView.tsx
  agenta-web/src/lib/helpers/formatters.ts
Labels: bug, evaluation, size:XS, lgtm

#1546 Increased time out to 90s for fetching from docker hub
  agenta-backend/agenta_backend/services/templates_manager.py
Labels: enhancement, Backend, size:XS

#1549 Hotfix/key_injection
  agenta-backend/agenta_backend/routers/variants_router.py
  agenta-cli/agenta/__init__.py
Labels: bug, Backend, CLI, size:S, lgtm

#1548 [Perf]: increase batch invoke by rewriting http call logic using aiohttp
  agenta-backend/agenta_backend/services/llm_apps_service.py
Labels: enhancement, Backend, python, size:M, lgtm

#1552 [Bug Fix]: Rendering UI bug in Testset view
  agenta-web/src/components/TestSetTable/TestsetTable.tsx
Labels: bug, UI, reactjs, size:XS, lgtm

#1558 [Bug Fix]: urls shown when running agenta variant serve are wrong
  agenta-cli/agenta/cli/variant_commands.py
Labels: CLI, refactoring, size:S, lgtm

#1557 [Bug Fix]: wrong timestamp in configuration
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/agenta_backend/services/db_manager.py
Labels: bug, Backend, January 2024, size:XS, lgtm

#1554 [Bug Fix]: Chat template returns error body in case of empty input
  agenta-web/src/components/Playground/Views/TestView.tsx
Labels: bug, size:XS, lgtm

#1553 Docs: added changelog for v0.13.5
  docs/changelog/main.mdx
  docs/images/changelog/observability_beta_dark.png
  docs/images/changelog/observability_beta_light.png
Labels: documentation, size:M, lgtm

#1565 Refactor: convert timezone to utc
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240110001454_initial_migration.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240110132547_create_exact_match_evaluator_config.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240110165900_evaluations_revamp.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240112120721_evaluation_scenarios_revamp.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240112120740_human_a_b_evaluation_scenarios.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240112120800_human_single_model_evaluation_scenarios.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240113131802_new_evaluation_results_aggregation.py
  agenta-backend/agenta_backend/migrations/v0_7_0_to_v0_8_0/20240113204909_change_odmantic_reference_to_link.py
  agenta-backend/agenta_backend/migrations/v0_8_0_to_v0_9_0/20240130133518_updating_app_variant.py
  agenta-backend/agenta_backend/migrations/v0_8_0_to_v0_9_0/20240130133544_create_app_variant_revision.py
  agenta-backend/agenta_backend/migrations/v0_8_0_to_v0_9_0/20240130133603_updating_app_environment.py
  agenta-backend/agenta_backend/migrations/v0_8_0_to_v0_9_0/20240130140202_connection_evaluation.py
  agenta-backend/agenta_backend/migrations/v0_9_0_to_v10_0_0/20240124174954_evaluation_error_handling.py
  agenta-backend/agenta_backend/migrations/v0_9_0_to_v10_0_0/20240124225808_evaluation_scenario_error_handling.py
  agenta-backend/agenta_backend/models/api/user_models.py
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/agenta_backend/routers/testset_router.py
  agenta-backend/agenta_backend/services/db_manager.py
  agenta-backend/agenta_backend/services/evaluation_service.py
  agenta-backend/agenta_backend/tests/variants_main_router/conftest.py
  agenta-cli/agenta/client/backend/core/datetime_utils.py
  examples/app_with_observability/dos_observability_script.py
  examples/app_with_observability/observability_script.py
Labels: Backend, refactoring, size:XXL, lgtm

#1523 Wrong MenuItem focus in human evaluation view
  agenta-web/cypress/e2e/eval.comparison.cy.ts
  agenta-web/src/components/Evaluations/AutomaticEvaluationResult.tsx
  agenta-web/src/components/Evaluations/HumanEvaluationResult.tsx
  agenta-web/src/components/HumanEvaluationModal/HumanEvaluationModal.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/pages/apps/[app_id]/annotations/human_a_b_testing/[evaluation_id]/index.tsx
  agenta-web/src/pages/apps/[app_id]/annotations/single_model_test/[evaluation_id]/index.tsx
  agenta-web/src/pages/apps/[app_id]/evaluations/results/[evaluation_id]/index.tsx
  agenta-web/src/pages/apps/[app_id]/evaluations/results/compare/index.tsx
Labels: bug, reactjs, evaluation, size:S, lgtm

#1570 add total latency
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/models/db_models.py
  agenta-backend/agenta_backend/services/aggregation_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-cli/agenta/client/backend/types/evaluation.py
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/services/evaluations/index.ts
Labels: Frontend, Backend, typescript, size:M, lgtm

#1562 [Bug Fix]: Error while saving a new configuration for a newly created variant in the playground
  agenta-web/src/components/Playground/Playground.tsx
  agenta-web/src/components/Playground/Views/ParametersView.tsx
Labels: bug, Frontend, UI, size:S, lgtm

#1586 [Enhancement] publish the first variant to the production environment per default
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-backend/agenta_backend/routers/variants_router.py
  agenta-backend/agenta_backend/services/app_manager.py
Labels: enhancement, Backend, UI, CLI, size:S, lgtm
