Repository Agenta-AI/agenta, pull requests merged in 2024-05, with the labels that each got.

#1592 Prompt fetching endpoint + caching
  .github/workflows/run-sdk-tests.yml
  .gitignore
  agenta-cli/agenta/__init__.py
  agenta-cli/agenta/sdk/client.py
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
  agenta-cli/tests/__init__.py
  agenta-cli/tests/example_projects/simple_langchain/app.py
  agenta-cli/tests/example_projects/simple_langchain/requirements.txt
  agenta-cli/tests/example_projects/test2/README.md
  agenta-cli/tests/example_projects/test2/agenta.py
  agenta-cli/tests/example_projects/test2/app.py
  agenta-cli/tests/example_projects/test2/config.toml
  agenta-cli/tests/example_projects/test2/main.py
  agenta-cli/tests/example_projects/test2/requirements.txt
  agenta-cli/tests/sdk/test_client.py
  docs/basic_guides/integrating.mdx
  docs/mint.json
Labels: documentation, enhancement, CLI, tests, size:L, lgtm

#1591 Issue 1572/ update deployment view to show endpoint for fetching the configuration
  agenta-web/src/code_snippets/endpoints/fetch_config/curl.ts
  agenta-web/src/code_snippets/endpoints/fetch_config/python.ts
  agenta-web/src/code_snippets/endpoints/fetch_config/typescript.ts
  agenta-web/src/code_snippets/endpoints/invoke_llm_app/curl.ts
  agenta-web/src/code_snippets/endpoints/invoke_llm_app/python.ts
  agenta-web/src/code_snippets/endpoints/invoke_llm_app/typescript.ts
  agenta-web/src/pages/apps/[app_id]/endpoints/index.tsx
Labels: Frontend, python, typescript, size:L, lgtm

#1598 Fixed fetch config Python code snippet
  agenta-web/src/code_snippets/endpoints/fetch_config/python.ts
Labels: python, size:XS, lgtm

#1604 Remove Loading icon in Result component
  agenta-web/src/components/Playground/ViewNavigation.tsx
  agenta-web/src/components/ResultComponent/ResultComponent.tsx
Labels: UI, size:M, lgtm

#1608 Add multiple variants for one application
  docs/advanced_guides/using_agenta_from_cli.mdx
Labels: documentation, UI, CLI, python, size:S

#1617 [Hotfix] Increased timeout for invoking evaluation
  agenta-backend/agenta_backend/services/llm_apps_service.py
Labels: Backend, High Priority, size:XS

#1614 Add traceback for error handling in LLM Apps service
  agenta-backend/agenta_backend/services/llm_apps_service.py
  agenta-backend/agenta_backend/utils/common.py
Labels: enhancement, Backend, python, size:M, lgtm

#1619 Fix running the CLI directly from local source
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: CLI, dependencies, size:XS, lgtm

#1621 Optional interactive mode
  agenta-cli/agenta/cli/variant_commands.py
  docs/developer_guides/cli/quick-usage.mdx
Labels: documentation, CLI, size:S

#1625 Build: change permission of 'entrypoint.sh' to be executable
  agenta-cli/agenta/docker/docker-assets/Dockerfile.template
Labels: CLI, devops, size:XS, lgtm

#1611 [Enhancement]: Improve playground error message
  agenta-backend/agenta_backend/routers/variants_router.py
  agenta-backend/agenta_backend/services/logs_manager.py
  agenta-web/src/components/Playground/ViewNavigation.tsx
  agenta-web/src/lib/services/api.ts
Labels: enhancement, dev experience, Frontend, Backend, size:M, lgtm

#1628 Lesser restriction on httpx in pyproject.toml
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: dependencies, python, size:XS

#1633 fix: swap images in docs
  docs/prompt_management/integrating.mdx
Labels: documentation, size:XS, lgtm

#1638 fix queries
  agenta-backend/agenta_backend/services/db_manager.py
Labels: bug, Backend, size:S

#1607 Hide cost and usage in playground and evaluation when these are not specified
  agenta-web/src/components/Playground/Views/TestView.tsx
  agenta-web/src/lib/helpers/formatters.ts
Labels: UI, typescript, size:S, lgtm

#1646 revert to initial solution
  agenta-cli/agenta/cli/variant_commands.py
Labels: CLI, size:S

#1651 add hiring positions
  README.md
Labels: documentation, size:XS

#1653 We are hiring
  .github/images/we-are-hiring.svg
  README.md
Labels: size:XS

#1645 [Sub issue]: Improve Evaluation comparison view to show all ground truth columns
  agenta-web/src/components/pages/evaluations/FilterColumns/FilterColumns.tsx
  agenta-web/src/components/pages/evaluations/evaluationCompare/EvaluationCompare.tsx
  agenta-web/src/components/pages/evaluations/evaluationResults/EvaluationResults.tsx
  agenta-web/src/components/pages/evaluations/evaluationScenarios/EvaluationScenarios.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/lib/helpers/evaluate.ts
  agenta-web/src/services/evaluations/index.ts
Labels: typescript, evaluation, size:L, lgtm

#1650 Chore (pyproject.toml): add aioboto3 to poetry dependencies
  agenta-backend/poetry.lock
  agenta-backend/pyproject.toml
Labels: Backend, dependencies, python, size:XS, lgtm

#1657 Workflow for cli commands
  .github/workflows/cli-commands-tests.yml
Labels: CLI, size:M

#1660 Workflow for cli commands
  .github/workflows/cli-commands-tests.yml
Labels: CLI, ci/cd, size:XS

#1661 Workflow for cli commands for cloud
  .github/workflows/cli-commands-tests.yml
  agenta-cli/agenta/cli/main.py
  docs/reference/cli/init.mdx
Labels: CLI, python, size:M

#1664 Fix key prop issue in ModelName component
  agenta-web/src/components/Playground/Views/GroupedSelect.tsx
Labels: bug, reactjs, size:XS, lgtm

#1665 advanced settings in a separate component
  agenta-backend/agenta_backend/services/evaluator_manager.py
  agenta-web/src/components/pages/evaluations/evaluators/AdvancedSettings.tsx
  agenta-web/src/components/pages/evaluations/evaluators/NewEvaluatorModal.tsx
Labels: size:L

#1674 All dependabot prs
  agenta-backend/poetry.lock
  agenta-backend/pyproject.toml
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: dependencies, size:S

#1676 Bump pytest from 6.2.5 to 8.2.0 in /agenta-cli
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: size:XS

#1683 Hot fix: revert pydantic version to 1.10.13
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: CLI, dependencies, size:XS, lgtm

#1688 [Bug Fix]: The testsets UI is dropping the trailing 0 from the timestamp
  agenta-web/src/lib/helpers/dateTimeHelper.ts
Labels: bug, UI, size:XS, lgtm

#1686 add action to check the app accessibility after serving
  .github/actions/check-app-accessibility/action.yml
  .github/workflows/cli-commands-tests.yml
Labels: enhancement, size:M

#1690 Fixes argument order for custom code evaluator
  agenta-backend/agenta_backend/services/security/sandbox.py
Labels: bug, Backend, python, size:XS, lgtm

#1681 Tests for llm apps service
  agenta-backend/agenta_backend/services/llm_apps_service.py
  agenta-backend/agenta_backend/tests/unit/test_llm_apps_service.py
Labels: Backend, tests, size:L

#1678 Enhance docker assets
  agenta-web/dev.Dockerfile
  agenta-web/prod.Dockerfile
  docker-compose.yml
Labels: devops, size:M

#1685 [Enhancement]: Logs are not fetched in cloud
  agenta-web/src/components/Playground/ViewNavigation.tsx
  agenta-web/src/lib/services/api.ts
Labels: enhancement, Frontend, size:M, lgtm

#1691 Move copy message button in the playground to the text input
  agenta-web/src/components/ChatInputs/ChatInputs.tsx
  agenta-web/src/components/Playground/ParamsForm/ParamsForm.tsx
  agenta-web/src/components/Playground/Views/TestView.tsx
Labels: UI, typescript, size:L, lgtm

#1700 Dependabot prs
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
Labels: dependencies, size:XS

#1698 When adding a data point to a test set, there is never a default set selected
  agenta-web/src/components/Playground/AddToTestSetDrawer/AddToTestSetDrawer.tsx
Labels: bug, Frontend, size:S, lgtm

#1702 Revert "[Enhancement]: Logs are not fetched in cloud"
  agenta-web/src/components/Playground/ViewNavigation.tsx
  agenta-web/src/lib/services/api.ts
Labels: bug, Frontend, size:M

#1703 Gemini
  agenta-backend/agenta_backend/models/api/evaluation_model.py
  agenta-backend/agenta_backend/routers/app_router.py
  agenta-web/src/components/Playground/Views/GroupedSelect.tsx
  agenta-web/src/lib/Types.ts
  agenta-web/src/lib/helpers/llmProviders.ts
Labels: Frontend, Backend, size:XS

#1707 docs: new changelogs
  docs/changelog/main.mdx
  docs/images/changelog/average_latency.png
  docs/images/changelog/default-selected-testset.gif
  docs/images/changelog/gemini.png
  docs/images/changelog/publish_to_production_by_default.png
  docs/images/changelog/total_cost.png
Labels: documentation, size:M, lgtm

#1710 Fixing changelog docs
  docs/changelog/main.mdx
  docs/images/changelog/default-selected-testset_video.gif
  docs/images/changelog/gemini_screenshot.png
  docs/images/changelog/publish_to_production_by_default_screenshot.png
  docs/images/changelog/total_cost_screenshot.png
Labels: documentation, size:S

#1716 Fix observability SDK
  agenta-cli/agenta/sdk/decorators/llm_entrypoint.py
  agenta-cli/agenta/sdk/decorators/tracing.py
  agenta-cli/agenta/sdk/tracing/llm_tracing.py
  examples/app_with_observability/app_async.py
  examples/app_with_observability/app_nested_async.py
  examples/app_with_observability/dict_app_async.py
  examples/app_with_observability/workflows/tracing_from_bash.py
  examples/app_with_observability/workflows/tracing_from_hosted.py
  examples/app_with_observability/workflows/tracing_plus_entrypoint.py
Labels: example, CLI, SDK, size:L, lgtm

#1714 Added fallback value for undefined parameters
  agenta-web/src/components/Playground/Views/TestView.tsx
  agenta-web/src/lib/helpers/formatters.ts
Labels: bug, Frontend, size:M, lgtm

#1719 Fixes Warning: Default value gpt-3.5-turbo provided but choices are empty.
  agenta-cli/agenta/sdk/types.py
Labels: bug, SDK, size:XS, lgtm

#1721 Fix: select model component search bar
  agenta-web/src/components/Playground/Views/GroupedSelect.tsx
  agenta-web/src/pages/apps/[app_id]/annotations/human_a_b_testing/[evaluation_id]/index.tsx
  agenta-web/src/pages/apps/[app_id]/annotations/single_model_test/[evaluation_id]/index.tsx
Labels: bug, Frontend, size:S, lgtm

#1639 [Improvement]: speed up the endpoint get config
  agenta-backend/agenta_backend/models/converters.py
  agenta-backend/agenta_backend/routers/configs_router.py
  agenta-backend/agenta_backend/services/db_manager.py
Labels: Backend, improvement, size:M, lgtm

#1711 Fix evaluation PR
  agenta-backend/agenta_backend/resources/evaluators/evaluators.py
  agenta-backend/agenta_backend/services/evaluator_manager.py
  agenta-backend/agenta_backend/services/evaluators_service.py
  agenta-backend/agenta_backend/tasks/evaluations.py
  agenta-backend/agenta_backend/tests/unit/test_evaluators.py
  agenta-backend/agenta_backend/tests/variants_main_router/test_variant_evaluators_router.py
  agenta-backend/poetry.lock
  agenta-backend/pyproject.toml
  agenta-web/src/components/pages/evaluations/evaluators/AdvancedSettings.tsx
  agenta-web/src/components/pages/evaluations/evaluators/EvaluatorCard.tsx
  agenta-web/src/components/pages/evaluations/evaluators/NewEvaluatorModal.tsx
  agenta-web/src/lib/Types.ts
Labels: Frontend, Backend, evaluation, size:XL, lgtm

#1724 Add documentation for observability
  docs/mint.json
  docs/monitoring/overview.mdx
  docs/observability/quickstart.mdx
Labels: documentation, python, size:L

#1726 Fix litellm integration
  agenta-cli/agenta/__init__.py
  agenta-cli/agenta/sdk/__init__.py
  agenta-cli/agenta/sdk/tracing/__init__.py
  agenta-cli/agenta/sdk/tracing/callbacks.py
  agenta-cli/poetry.lock
  agenta-cli/pyproject.toml
  examples/app_with_observability/litellm_integration.py
Labels: example, CLI, SDK, size:L, lgtm

#1728 Eval fixes
  agenta-backend/agenta_backend/migrations/v0_12_0_to_v0_16_0/20240509122536_evaluation_scenario_correct_answer.py
Labels: Backend, size:XS
